* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#root {
    display: flex;
    justify-content: center;
}

.Rides {
    width: 800px;
}

.ride {
    display: flex;
    padding: 15px;
    border: 2px solid darkblue;
    background-color: lightgrey;
    margin-top: 15px;
    justify-content: space-between;
    align-items: center;
}
.remove-btn {
    margin-right: 0.5rem;
}
.ride__btns {
    display: flex;
}
.ride-enter {
    transform: translateX(-350px)
}
.ride-enter-active {
    transform: translateX(0px);
    transition: all 500ms ease-in;
}
.ride-exit {
    opacity: 1;
}
.ride-exit-active {
    transform: translateX(-350px);
    transition: all 500ms ease-in;
}
.page__wrapper {
    margin: 15px 0;
    display: flex;
    justify-content: center;
}
.page {
    padding: 5px;
    border: 1px solid midnightblue;
    cursor: pointer;
}
.page__current {
    border: 2px solid orchid;
    font-weight: bold;
}
.driver {
    width: 300px;
    color: red;
}
.mynavbar {
    width: 800px;
    background: lightgrey;
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
